##################################
####### Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance.
servername="CAC68_VALHEIM"
serverpassword="CAC68" # Minimum password length is 5.

startparameters="
-name '${servername}' 
-password ${serverpassword} 
-port ${port} 
-world ${worldname} 
-public ${public} 
-savedir '${savedir}' 
-saveinterval ${saveinterval} 
-backups ${backups} 
-backupshort ${backupshort} 
-backuplong ${backuplong} 
-instanceid ${instanceid} ${logFile:+ 
-logFile '${logFile}'} ${worldmodifiers:+ ${worldmodifiers}}
-console"
