TZ=Europe/London

UID=99
GID=100
UMASK=022

VOLUMES_BASE=/mnt/user/appdata
CONTAINER_NAME=linuxgsm-vhserver
SUBNET=

INTEL_GPU=/dev/dri

GAME_PORT=
QUERY_PORT=
RPC_PORT=
SUPERVISOR_PORT=

# See https://github.com/lloesche/valheim-server-docker?tab=readme-ov-file#environment-variables
SERVER_NAME=
WORLD_NAME=
SERVER_PASS=
SERVER_PUBLIC=true
BACKUPS_MAX_AGE=30
#SUPERVISOR_HTTP=true

#Mods
#VALHEIM_PLUS=true

# DISCORD_WEBHOOK=https://discord.com/api/webhooks/...........

VALHEIM_LOG_FILTER_CONTAINS_Spawned=Got character ZDOID from
ON_VALHEIM_LOG_FILTER_CONTAINS_Spawned={ read l; l=${l:46}; l=${l// :*/}; msg="[$(date +'%b %d %T')] Player $l connected."; curl -sfSL -X POST -H "Content-Type: application/json" -d "{\"username\":\"Hugin\",\"content\":\"$msg\"}" "$DISCORD_WEBHOOK"; }