
# valheim_plus.cfg
# Server
VPCFG_Server_enabled=true
VPCFG_Server_maxPlayers=31
VPCFG_Server_disableServerPassword=false
VPCFG_Server_enforceMod=true
VPCFG_Server_serverSyncsConfig=true
VPCFG_Server_serverSyncHotkeys=false

# Stamina
VPCFG_Stamina_enabled=true
VPCFG_Stamina_dodgeStaminaUsage=-100
VPCFG_Stamina_encumberedStaminaDrain=0
VPCFG_Stamina_jumpStaminaDrain=0
VPCFG_Stamina_runStaminaDrain=0
VPCFG_Stamina_sneakStaminaDrain=0
VPCFG_Stamina_staminaRegen=0
VPCFG_Stamina_staminaRegenDelay=0
VPCFG_Stamina_swimStaminaDrain=0