# General
TZ=Europe/London

UID=99
GID=100

CONTAINER_NAME=wud
VOLUMES_BASE=/mnt/user/appdata
SUBNET=

HTTP_PORT=3000
DOCKER_SOCK=/var/run/docker.sock

# Watcher
WUD_CRON=0 */6 * * *

# SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_TO=
